menu "RT-Thread board config"

config RT_BOARD_NAME
    string "the board name you use"
    default "rk2108_evb"

config RT_RUN_MEM_BASE
    hex "the memory base address you use"
    default 0x20000000
    help
        Set RK2108 SRAM MEM BASE.

config RT_RUN_MEM_SIZE
    hex "the memory size you use"
    default 0x00100000
    help
        Set RK2108 SRAM MEM SIZE

source "$(BSP_DIR)/board/$RT_BOARD_NAME/Kconfig"

endmenu
