menu "Components Configuration"
config USE_SPI
    bool
    prompt "Use Spi"
    default n
    help
        Include SPI modules and enable SPI

    if USE_SPI
        source "$STANDALONE_DIR/drivers/spi/Kconfig"
    endif

config USE_QSPI
    bool
    prompt "Use QSpi"
    default n
    help
        Include QSPI modules and enable QSPI

    if USE_QSPI
        source "$STANDALONE_DIR/drivers/qspi/Kconfig"
    endif

config USE_GIC
    bool
    prompt "Use Gic"
    default y
    help
        Include Generic Interrupt Controllor
    
    if USE_GIC
        source "$STANDALONE_DIR/drivers/gic/Kconfig"
    endif

config USE_SERIAL
    bool
    prompt "Use SERIAL"
    default n
    help
        Include serial modules and enable serial
    
    if USE_SERIAL
        source "$STANDALONE_DIR/drivers/serial/Kconfig"
    endif


config USE_GPIO
    bool
    prompt "Use Gpio"
    default n
    help
        Include GPIO modules and enable GPIO

    if USE_GPIO
        source "$STANDALONE_DIR/drivers/pin/fgpio/Kconfig"
    endif

config USE_ETH
    bool
    prompt "Use Eth"
    default n
    help
        Include eth

    if USE_ETH
        source "$STANDALONE_DIR/drivers/eth/Kconfig"
    endif

config USE_CAN
    bool
    prompt "Use Can"
    default n
    help
        Include can

    if USE_CAN
        source "$STANDALONE_DIR/drivers/can/Kconfig"
    endif

config USE_I2C
    bool
    prompt "Use I2C"
    default n
    help
        Include I2C modules and enable I2C

    if USE_I2C
        source "$STANDALONE_DIR/drivers/i2c/Kconfig"
    endif


config USE_TIMER
    bool
    prompt "Use Timer"
    default n
    help
        Include Timer modules and enable Timer

    if USE_TIMER
        source "$STANDALONE_DIR/drivers/timer/Kconfig"
    endif

config USE_MIO
    bool
    prompt "Use Mio"
    default n
    help
        Include Mio modules and enable Mio

    if USE_MIO
        source "$STANDALONE_DIR/drivers/mio/Kconfig"
    endif

config USE_SDMMC
    bool
    prompt "Use SD/MMC"
    default n
    help
        Include SD/MMC modules and enable Timer

    if USE_SDMMC
        source "$STANDALONE_DIR/drivers/mmc/Kconfig"
    endif

config USE_PCIE
    bool
    prompt "Use PCIE"
    default n
    help
        Include PCIE

    if USE_PCIE
        source "$STANDALONE_DIR/drivers/pcie/Kconfig"
    endif

config USE_WDT
    bool
    prompt "Use WDT"
    default n
    help
        Include watchdog timer modules and enable watchdog timer

    if USE_WDT
        source "$STANDALONE_DIR/drivers/watchdog/Kconfig"
    endif


config USE_DMA
    bool
    prompt "Use DMA"
    default n
    help
        Include DMA 

    if USE_DMA
        source "$STANDALONE_DIR/drivers/dma/Kconfig"
    endif
    
config USE_NAND
    bool
    prompt "Use NAND"
    help
        Include NAND
    
    if USE_NAND
        source "$STANDALONE_DIR/drivers/nand/Kconfig"
    endif

config USE_RTC
    bool
    prompt "Use RTC"
    default n
    help
        Include system rtc service

    if USE_RTC
        source "$STANDALONE_DIR/drivers/rtc/Kconfig"
    endif

config USE_SATA
    bool
    prompt "Use SATA"
    default n
    help
        Include system sata service

    if USE_SATA
        source "$STANDALONE_DIR/drivers/sata/Kconfig"
    endif
       
config USE_USB
    bool
    prompt "Use USB"
    default n
    help
        Include USB Subsystem

    if USE_USB
        source "$STANDALONE_DIR/drivers/usb/Kconfig"
    endif   
    
config USE_ADC
    bool
    prompt "Use ADC"
    default n
    help
        Include adc modules and enable adc

    if USE_ADC
        source "$STANDALONE_DIR/drivers/adc/Kconfig"
    endif
    
config USE_PWM
    bool
    prompt "Use PWM"
    default n
    help
        Include system pwm

    if USE_PWM
        source "$STANDALONE_DIR/drivers/pwm/Kconfig"
    endif

config USE_IPC
    bool
    prompt "Use IPC"
    default n
    help
        Include IPC Service

    if USE_IPC
        source "$STANDALONE_DIR/drivers/ipc/Kconfig"
    endif


config USE_MEDIA
    bool
    prompt "USE MEDIA"
    default n
    help
        Include media drivers
    
    if USE_MEDIA
        source "$STANDALONE_DIR/drivers/media/Kconfig"
    endif

config USE_SCMI_MHU
    bool
    prompt "USE SCMI_MHU"
    default n
    help
        Include scmi_mhu drivers
    
    if USE_SCMI_MHU
        source "$STANDALONE_DIR/drivers/scmi/Kconfig"
    endif

endmenu

