menuconfig RT_USING_LED
    bool "Using Light Emitting Diode (LED) device drivers"
    depends on RT_USING_DM
    default n

config RT_LED_GPIO
    bool "GPIO connected LEDs Support"
    depends on RT_USING_LED
    depends on RT_USING_PINCTRL
    depends on RT_USING_OFW
    default n

if RT_USING_LED
    osource "$(SOC_DM_LED_DIR)/Kconfig"
endif
