# script for stm32xl family (dual flash bank)
source [find target/stm32f1x.cfg]

# flash size will be probed
set _FLASHNAME $_CHIPNAME.flash1
flash bank $_FLASHNAME stm32f1x 0x08080000 0 0 0 $_TARGETNAME
