mainmenu "RT-Thread Project Configuration"

BSP_DIR := .

RTT_DIR := ../..

PKGS_DIR := packages

config BOARD_MINI2440
    bool
    select ARCH_ARM_ARM9
    select RT_USING_CACHE
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y

choice
    prompt "Lcd for mini2440"
    default RT_MINI2440_LCD_T35
    depends on PKG_USING_GUIENGINE

    config RT_MINI2440_LCD_A70
        bool "A70"

    config RT_MINI2440_LCD_T43
        bool "T43"

    config RT_MINI2440_LCD_N35
        bool "N35"

    config RT_MINI2440_LCD_T35
        bool "T35"

    config RT_MINI2440_LCD_X35
        bool "X35"
endchoice

source "$(RTT_DIR)/Kconfig"
osource "$PKGS_DIR/Kconfig"


