menu "Hardware Drivers Config"

    menuconfig BSP_USING_UART
        bool "Using UART"
        select RT_USING_SERIAL
        default y

        if BSP_USING_UART
            config RT_USING_UART0
                bool "Enable UART 0"
                default n

            config RT_USING_UART1
                bool "Enable UART 1"
                default n

            config RT_USING_UART2
                bool "Enable UART 2"
                default y

            config RT_USING_UART3
                bool "Enable UART 3"
                default n

            config RT_USING_UART4
                bool "Enable UART 4"
                default n

            config RT_USING_UART5
                bool "Enable UART 5"
                default n

            config RT_USING_UART6
                bool "Enable UART 6"
                default n

            config RT_USING_UART7
                bool "Enable UART 7"
                default n

            config RT_USING_UART8
                bool "Enable UART 8"
                default n

            config RT_USING_UART9
                bool "Enable UART 9"
                default n
        endif

    config BSP_USING_GIC
        bool
        default y

    config BSP_USING_GICV3
        bool
        default y

    select ARCH_ARM_CORTEX_A55
endmenu
