menu "C/C++ and POSIX layer"

config RT_USING_LIBC
    bool "Enable libc"
    default y if RT_USING_SMART
    default n

config RT_USING_MUSLLIBC
    bool "Enable musl libc"
    depends on RT_USING_SMART
    depends on RT_USING_LIBC
    default y if RT_USING_SMART
    default n

config RT_USING_EXTERNAL_LIBC
    bool
    help
        This is for external libc(e.g. mlib),
        and NOT for newlib or picolibc which are inherent in the toolchains.
        Usually, the external libc should be a software package and select
        RT_USING_EXTERNAL_LIBC in software package's Kconfig
        This option is not available for users to select.

rsource "compilers/common/Kconfig"
rsource "posix/Kconfig"
rsource "cplusplus/Kconfig"

endmenu
