menu "Hardware Drivers Config"

    menu "On-chip Peripheral Drivers"
        source "$(BSP_DIR)/../libraries/ma35/rtt_port/Kconfig"
    endmenu

    menu "On-board Peripheral Drivers"

        config BSP_USING_NULINKME
            bool "Enable UART16 for RTT Console(uart16)"
            select BSP_USING_UART
            select BSP_USING_UART16
            default y

    endmenu

    menu "Board extended module drivers"

    endmenu

    source "$(BSP_DIR)/../libraries/nu_packages/Kconfig"

endmenu
