config RT_USING_EXT_SDRAM
    bool "Enable SDRAM on the board"
    default y
 
config RT_USING_UART1
    bool "Enable UART1"
    default y    
    
config RT_USING_UART2
    bool "Enable UART2"
    default n    

config RT_USING_UART3
    bool "Enable UART3"
    default n

config RT_USING_SPI5
    bool "Enable SPI5"
    default n     
