menu "PRCM Devices"

config DRIVERS_PRCM
    bool "enable prcm driver"
        default y

config HAL_TEST_PRCM
    bool "enable prcm hal APIs test command"
    depends on DRIVERS_PRCM
        default n

endmenu
