menuconfig RT_USING_AT
    bool "Enable AT commands"
    default n

if RT_USING_AT

    config AT_DEBUG
        bool "Enable debug log output"
        default n

    config AT_USING_SERVER
        bool "Enable AT commands server"
        default n

    if AT_USING_SERVER

        config AT_SERVER_DEVICE
            string "Server device name"
            default "uart3"

        config AT_SERVER_RECV_BUFF_LEN
            int "The maximum length of server data accepted"
            default 256

        config AT_SERVER_SEND_BUFF_LEN
            int "The maximum length of server commands buffer"
            default 256

    endif

    config AT_USING_CLIENT
        bool "Enable AT commands client"
        default n

    if AT_USING_CLIENT

        config AT_CLIENT_NUM_MAX
            int "The maximum number of supported clients"
            default 1
            range 1 65535

        config AT_USING_SOCKET
            bool "Enable BSD Socket API support by AT commnads"
            select RT_USING_SAL
            select SAL_USING_AT
            default n

        if AT_USING_SOCKET

            config AT_USING_SOCKET_SERVER
                bool "Enable BSD Socket API support about AT server"
                default n

        endif

    endif

    if AT_USING_SERVER || AT_USING_CLIENT

        config AT_USING_CLI
            bool "Enable CLI(Command-Line Interface) for AT commands"
            default y
            depends on RT_USING_FINSH

       config AT_PRINT_RAW_CMD
            bool "Enable print RAW format AT command communication data"
            default n

    endif

    config AT_SW_VERSION_NUM
        hex
        default 0x10301
        help
            software module version number

endif
