mainmenu "RT-Thread Project Configuration"

BSP_DIR := .

RTT_DIR := ../..

PKGS_DIR := packages

source "$(RTT_DIR)/Kconfig"
osource "$PKGS_DIR/Kconfig"

config SOC_JUICEVM_RV64
    bool
    select ARCH_RISCV64

config BOARD_RV64_FRDM_JUICEVM
    bool
    select SOC_JUICEVM_RV64
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y

rsource "driver/Kconfig"

config __STACKSIZE__
    int
    default 4096
