#
# Video configuration for sunxi platform
#

menu "Video support for sunxi"

config DISP2_SUNXI
    tristate "DISP Driver Support(sunxi-disp2)"
    default n
    ---help---
      Display driver for sunxi based boards.

choice
    prompt "DISP2 Framebuffer rotation support"
    default SUNXI_DISP2_FB_DISABLE_ROTATE

config SUNXI_DISP2_FB_DISABLE_ROTATE
    bool "Disable rotation"
    depends on (DISP2_SUNXI)
    ---help---
      Do not use framebuffer rotation

config SUNXI_DISP2_FB_ROTATION_SUPPORT
    bool "Software rotation support"
    depends on (DISP2_SUNXI)
    ---help---
      Framebuffer software rotation on the top of disp2.

config SUNXI_DISP2_FB_HW_ROTATION_SUPPORT
    bool "Hardware(G2D) rotation support"
    depends on (DISP2_SUNXI && SUNXI_G2D)
    ---help---
      Framebuffer hardware(G2D) rotation on the top of disp2.

endchoice

config HAL_TEST_DISP
    bool "DISP2 hal APIs test"
    depends on (DISP2_SUNXI)
    default n
    ---help---
      Enable disp2 hal test command.
config FPGA_V7_PLATFORM
    bool "FPGA"
    depends on (DISP2_SUNXI)
    default n
    ---help---
      Enable fpga
config SUNXI_DISP2_FB_DECOMPRESS_LZMA
    bool "Framebuffer show bootlogo from lzma file"
    depends on (DISP2_SUNXI)
    default n
    select DECOMPRESS_LZMA
    ---help---
      Show bootlogo from lzma file.

config HDMI_DISP2_SUNXI
    tristate "HDMI Driver Support(sunxi-disp2)"
    depends on (DISP2_SUNXI)
    default n
    ---help---
      Hdmi driver for sunxi based boards.

menuconfig HDMI2_DISP2_SUNXI
  tristate "HDMI2.0 Driver Support(sunxi-disp2)"
  depends on (DISP2_SUNXI)
  default n
  ---help---
  Say Y here if you want to have support for HDMI2.0 controller
  on the sunxi based boards. The HDMI2.0 controller include edid,
  hdcp1.4,hdcp2.2,cec feature and is compatible with hdmi1.4,support
  HDR,4k@60Hz. If unsure, say N.

config HDMI_EP952_DISP2_SUNXI
    tristate "HDMI EP952 Driver Support(sunxi-disp2)"
    depends on (DISP2_SUNXI)
    default n
    ---help---
      Hdmi ep952 driver for sunxi based boards.
menuconfig HDMI2_HDCP_SUNXI
  tristate "HDMI2.0 HDCP"
  depends on (HDMI2_DISP2_SUNXI)
  default n
  ---help---
  Say Y here if you want to handle the cec message by User Space.
  Say N here if you want to handle the cec message by Kernel.
  If unsure, say N.

config HDMI2_HDCP22_SUNXI
  tristate "HDMI2.0 HDCP2.2"
  depends on (HDMI2_HDCP_SUNXI && HDMI2_DISP2_SUNXI)
  default n
  ---help---
  Say Y here if you want to handle the cec message by User Space.
  Say N here if you want to handle the cec message by Kernel.
  If unsure, say N.

menuconfig HDMI2_CEC_SUNXI
  tristate "HDMI2.0 CEC"
  depends on (HDMI2_DISP2_SUNXI)
  default n
  ---help---
  Say Y here if you want to handle the cec message by User Space.
  Say N here if you want to handle the cec message by Kernel.
  If unsure, say N.

config HDMI2_CEC_USER
  tristate "HDMI2.0 CEC handled by user space"
  depends on (HDMI2_CEC_SUNXI && HDMI2_DISP2_SUNXI)
  default n
  ---help---
  Say Y here if you want to handle the cec message by User Space.
  Say N here if you want to handle the cec message by Kernel.
  If unsure, say N.

config TV_DISP2_SUNXI
     tristate "TV Driver Support(sunxi-disp2)"
     depends on (DISP2_SUNXI)
     default n
     ---help---
      TV driver for sunxi based boards.
config VDPO_DISP2_SUNXI
     tristate "VDPO Driver Support(sunxi-disp2)"
     depends on (DISP2_SUNXI)
     default n
     ---help---
      VDPO driver for sunxi based boards.
config DISP2_TV_GM7121
    tristate "GM7121 TV module Support(sunxi-disp2)"
    depends on (DISP2_SUNXI && TV_DISP2_SUNXI)
    default n
    ---help---

config EDP_DISP2_SUNXI
    tristate "EDP Driver Support(sunxi-disp2)"
    depends on (DISP2_SUNXI)
    default n
    ---help---
      EDP 1.2 driver for sunxi. Embedded Display Port is
      a high speed display interface for embedded device.
      DisplayPort can be used to transmit audio and video
      simultaneously, but each one is optional and can be
      transmitted without the other.

config DISP2_TV_AC200
    tristate "AC200 TV module Support(sunxi-disp2)"
    depends on (DISP2_SUNXI && MFD_ACX00)
    default n
    ---help---

config EINK_PANEL_USED
    bool "Eink panel used"
    depends on (DISP2_SUNXI && (ARCH_SUN8IW10 || ARCH_SUN8IW15))
    default n
    ---help---

config EINK200_SUNXI
    bool "Eink Driver Version 2.0 Support"
    depends on (DISP2_SUNXI && ARCH_SUN50IW10)
    default n
    ---help---

config DISP2_SUNXI_BOOT_COLORBAR
    bool "boot colorbar Support for disp driver(sunxi-disp2)"
    depends on DISP2_SUNXI
    default n
    ---help---
      If true, the framebuffer will be filled by specified data
      to display vertical colorbar.

menu "LCD panels select"
    depends on DISP2_SUNXI

source "$BSP_DIR/../libraries/sunxi-hal/hal/source/disp2/disp/lcd/Kconfig"
endmenu


menu "Display engine feature select"
    depends on DISP2_SUNXI

source "$BSP_DIR/../libraries/sunxi-hal/hal/source/disp2/disp/Kconfig"
endmenu

menu "Soc and board select"
    depends on DISP2_SUNXI

source "$BSP_DIR/../libraries/sunxi-hal/hal/source/disp2/soc/Kconfig"
endmenu

endmenu
