menu "Hardware Drivers Config"

config SOC_N32G452XX
    bool
    select SOC_SERIES_N32G452XX
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y

menu "Onboard Peripheral Drivers"

    config RT_USING_SERIAL
        bool "Enable USART (uart1)"
        select BSP_USING_UART
        select BSP_USING_UART1
        default y

endmenu

menu "On-chip Peripheral Drivers"

    config RT_USING_GPIO
        bool "Enable GPIO"
        select RT_USING_PIN
        default y

    config BSP_USING_ON_CHIP_FLASH
        bool "Enable on-chip FLASH"
        default n

    config BSP_USING_WDT
        bool "Enable Watchdog Timer"
        select RT_USING_WDT
        default n

    menuconfig BSP_USING_UART
        bool "Enable UART"
        default y
        select RT_USING_SERIAL
        if BSP_USING_UART
            config BSP_USING_UART1
                bool "Enable UART1"
                default y

            config BSP_USING_UART2
                bool "Enable UART2"
                default n

            config BSP_USING_UART3
                bool "Enable UART3"
                default n
        endif

    menuconfig BSP_USING_PWM
        bool "Enable PWM"
        default n
        select RT_USING_PWM
        if BSP_USING_PWM
        menuconfig BSP_USING_TIM1PWM
            bool "Enable timer1 output PWM"
            default n
            if BSP_USING_TIM1PWM
                config BSP_USING_TIM1_CH1
                    bool "Enable TIM1 channel1 PWM"
                    default n
                config BSP_USING_TIM1_CH2
                    bool "Enable TIM1 channel2 PWM"
                    default n
                config BSP_USING_TIM1_CH3
                    bool "Enable TIM1 channel3 PWM"
                    default n
                config BSP_USING_TIM1_CH4
                    bool "Enable TIM1 channel4 PWM"
                    default n
            endif
        menuconfig BSP_USING_TIM2PWM
            bool "Enable timer2 output PWM"
            default n
            if BSP_USING_TIM2PWM
                config BSP_USING_TIM2_CH1
                    bool "Enable TIM2 channel1 PWM"
                    default n
                config BSP_USING_TIM2_CH2
                    bool "Enable TIM2 channel2 PWM"
                    default n
                config BSP_USING_TIM2_CH3
                    bool "Enable TIM2 channel3 PWM"
                    default n
                config BSP_USING_TIM2_CH4
                    bool "Enable TIM2 channel4 PWM"
                    default n
            endif
        menuconfig BSP_USING_TIM3PWM
            bool "Enable timer3 output PWM"
            default n
            if BSP_USING_TIM3PWM
                config BSP_USING_TIM3_CH1
                    bool "Enable TIM3 channel1 PWM"
                    default n
                config BSP_USING_TIM3_CH2
                    bool "Enable TIM3 channel2 PWM"
                    default n
                config BSP_USING_TIM3_CH3
                    bool "Enable TIM3 channel3 PWM"
                    default n
                config BSP_USING_TIM3_CH4
                    bool "Enable TIM3 channel4 PWM"
                    default n
            endif
        menuconfig BSP_USING_TIM4PWM
            bool "Enable timer4 output PWM"
            default n
            if BSP_USING_TIM4PWM
                config BSP_USING_TIM4_CH1
                    bool "Enable TIM4 channel1 PWM"
                    default n
                config BSP_USING_TIM4_CH2
                    bool "Enable TIM4 channel2 PWM"
                    default n
                config BSP_USING_TIM4_CH3
                    bool "Enable TIM4 channel3 PWM"
                    default n
                config BSP_USING_TIM4_CH4
                    bool "Enable TIM4 channel4 PWM"
                    default n
            endif
        menuconfig BSP_USING_TIM5PWM
            bool "Enable timer5 output PWM"
            default n
            if BSP_USING_TIM5PWM
                config BSP_USING_TIM5_CH1
                    bool "Enable TIM5 channel1 PWM"
                    default n
                config BSP_USING_TIM5_CH2
                    bool "Enable TIM5 channel2 PWM"
                    default n
                config BSP_USING_TIM5_CH3
                    bool "Enable TIM5 channel3 PWM"
                    default n
                config BSP_USING_TIM5_CH4
                    bool "Enable TIM5 channel4 PWM"
                    default n
            endif
        menuconfig BSP_USING_TIM8PWM
            bool "Enable timer8 output PWM"
            default n
            if BSP_USING_TIM8PWM
                config BSP_USING_TIM8_CH1
                    bool "Enable TIM8 channel1 PWM"
                    default n
                config BSP_USING_TIM8_CH2
                    bool "Enable TIM8 channel2 PWM"
                    default n
                config BSP_USING_TIM8_CH3
                    bool "Enable TIM8 channel3 PWM"
                    default n
                config BSP_USING_TIM8_CH4
                    bool "Enable TIM8 channel4 PWM"
                    default n
            endif
        endif

    menuconfig BSP_USING_HWTIMER
        bool "Enable HWTIMER"
        default n
        select RT_USING_HWTIMER
        if BSP_USING_HWTIMER
        config BSP_USING_HWTIM3
            bool "Enable hardware timer3"
            default n
        config BSP_USING_HWTIM4
            bool "Enable hardware timer4"
            default n
        config BSP_USING_HWTIM5
            bool "Enable hardware timer5"
            default n
        config BSP_USING_HWTIM6
            bool "Enable hardware timer6"
            default n
        config BSP_USING_HWTIM7
            bool "Enable hardware timer7"
            default n
        endif

    menuconfig BSP_USING_SPI
        bool "Enable SPI BUS"
        default n
        select RT_USING_SPI
        if BSP_USING_SPI
            config BSP_USING_SPI1
                bool "Enable SPI1 BUS"
                default n

            config BSP_USING_SPI2
                bool "Enable SPI2 BUS"
                default n
        endif

    menuconfig BSP_USING_I2C1
        bool "Enable I2C1 BUS (software simulation)"
        default n
        select RT_USING_I2C
        select RT_USING_I2C_BITOPS
        select RT_USING_PIN
        if BSP_USING_I2C1
            config BSP_I2C1_SCL_PIN
                int "i2c1 scl pin number"
                range 0 63
                default 22
            config BSP_I2C1_SDA_PIN
                int "I2C1 sda pin number"
                range 0 63
                default 23
        endif

    menuconfig BSP_USING_ADC
        bool "Enable ADC"
        default n
        select RT_USING_ADC
        if BSP_USING_ADC
            config BSP_USING_ADC1
                bool "Enable ADC1"
                default n
            config BSP_USING_ADC2
                bool "Enable ADC2"
                default n
        endif

    menuconfig BSP_USING_CAN
        bool "Enable CAN"
        default n
        select RT_USING_CAN
        if BSP_USING_CAN
            config BSP_USING_CAN1
                bool "using CAN1"
                default n
            config BSP_USING_CAN2
                bool "using CAN2"
                default n
        endif

    menuconfig BSP_USING_SDIO
        bool "Enable SDIO"
        default n
        select RT_USING_SDIO
        if BSP_USING_SDIO
            config BSP_USING_SDIO1
                bool "Enable SDIO1"
                default n
        endif
endmenu

endmenu
