menu "Hardware Drivers Config"

config SOC_N32G452XX
    bool
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y

menu "Onboard Peripheral Drivers"

    config RT_USING_SERIAL
        bool "Enable USART (uart1)"
        select RT_USING_UART
        select RT_USING_UART1
        default y

endmenu

menu "On-chip Peripheral Drivers"

    config RT_USING_GPIO
        bool "Enable GPIO"
        select RT_USING_PIN
        default y

    config RT_USING_ON_CHIP_FLASH
        bool "Enable on-chip FLASH"
        default n 

    menuconfig RT_USING_UART
        bool "Enable UART"
        default y
        select RT_USING_SERIAL
        if RT_USING_UART
            config RT_USING_UART1
                bool "Enable UART1"
                default y

            config RT_USING_UART2
                bool "Enable UART2"
                default n

            config RT_USING_UART3
                bool "Enable UART3"
                default n
        endif
endmenu

endmenu
