config RT_USING_EXT_SDRAM
    bool "Enable SDRAM on the board"
    default y
 
config RT_USING_UART1
    bool "Enable UART1"
    default y    
    
config RT_USING_UART2
    bool "Enable UART2"
    default y    

config RT_USING_UART3
    bool "Enable UART3"
    default y

config RT_USING_SPI5
    bool "Enable SPI5"
    default y     

config RT_RTC_NAME
    string "The name of RTC device"
    default rtc

if RT_USING_LWIP
    config CONFIG_PCF8574
        bool
        select RT_USING_I2C
        select RT_USING_I2C_BITOPS
endif
