mainmenu "RT-Thread Configuration"

config BSP_DIR
    string
    option env="BSP_ROOT"
    default "."

config RTT_DIR
    string
    option env="RTT_ROOT"
    default "../../.."

config PKGS_DIR
    string
    option env="PKGS_ROOT"
    default "packages"

source "$RTT_DIR/Kconfig"
source "$PKGS_DIR/Kconfig"

choice
    prompt "Device type"
    default ES32F0654LT
    config SOC_ES32F0653LQ
        bool "SOC_ES32F0653LQ"
    config SOC_ES32F0653NQ
        bool "SOC_ES32F0653NQ"
    config SOC_ES32F0653LT
        bool "SOC_ES32F0653LT"
    config SOC_ES32F0653LX
        bool "SOC_ES32F0653LX"
    config SOC_ES32F0654LQ
        bool "SOC_ES32F0654LQ"
    config SOC_ES32F0654NQ
        bool "SOC_ES32F0654NQ"
    config SOC_ES32F0654LT
        bool "SOC_ES32F0654LT"
    config SOC_ES32F0654LX
        bool "SOC_ES32F0654LX"
endchoice

config RT_USING_HOSC
    bool "Using HOSC as clock source"
    default n
config RT_HRC_VALUE
    int "HRC Value"
    default 24000000
    depends on !RT_USING_HOSC

if RT_USING_SERIAL
    config RT_USING_UART0
        bool "Using uart0"
        default n

    config RT_USING_UART1
        bool "Using uart1"
        default n

    config RT_USING_UART2
        bool "Using uart2"
        default y

    config RT_USING_UART3
        bool "Using uart3"
        default n 
endif
