menu "Hardware Drivers Config"

    menu "On-chip Peripheral Drivers"

        menu "UART Drivers"
            config BSP_USING_UART1
                bool "Enable UART0 PA2/3(R/T)"
                select RT_USING_SERIAL
                default n
        
            config BSP_USING_UART2
                bool "Enable UART2 PA9/10(R/T)"
                select RT_USING_SERIAL
                default y
        endmenu 
    endmenu
        
endmenu
