config SOC_ARM_FAMILY_CH32
    bool

config SOC_ARM_SERIES_CH32F103
    bool
    select ARCH_ARM_CORTEX_M3
    select SOC_ARM_FAMILY_CH32

config SOC_ARM_SERIES_CH32F203
    bool
    select ARCH_ARM_CORTEX_M3
    select SOC_ARM_FAMILY_CH32

config SOC_ARM_SERIES_CH32F205
    bool
    select ARCH_ARM_CORTEX_M3
    select SOC_ARM_FAMILY_CH32

config SOC_ARM_SERIES_CH32F207
    bool
    select ARCH_ARM_CORTEX_M3
    select SOC_ARM_FAMILY_CH32

