CONFIG_RT_NAME_MAX=16
CONFIG_RT_USING_SMP=y
CONFIG_RT_CPUS_NR=2
CONFIG_RT_ALIGN_SIZE=4
CONFIG_IDLE_THREAD_STACK_SIZE=8192
CONFIG_RT_TIMER_THREAD_STACK_SIZE=8192
# CONFIG_RT_DEBUGING_CONTEXT is not set
CONFIG_RT_USING_SLAB_AS_HEAP=y
CONFIG_RT_USING_HEAP_ISR=y
CONFIG_ARCH_TEXT_OFFSET=0x80000
CONFIG_ARCH_RAM_OFFSET=0x80000000
CONFIG_RT_MAIN_THREAD_STACK_SIZE=8192
CONFIG_RT_USING_DFS_ELMFAT=y
CONFIG_RT_USING_DFS_RAMFS=y
CONFIG_RT_USING_DEV_BUS=y
CONFIG_RT_SYSTEM_WORKQUEUE_STACKSIZE=8192
CONFIG_RT_USING_NULL=y
CONFIG_RT_USING_ZERO=y
CONFIG_RT_USING_RANDOM=y
CONFIG_RT_USING_RTC=y
# CONFIG_RT_USING_PIN is not set
CONFIG_RT_USING_POSIX_FS=y
CONFIG_RT_USING_POSIX_TERMIOS=y
CONFIG_RT_USING_POSIX_CLOCK=y
CONFIG_RT_USING_POSIX_TIMER=y
CONFIG_RT_USING_SAL=y
CONFIG_RT_USING_LWIP=y
CONFIG_RT_USING_LWIP212=y
CONFIG_RT_LWIP_MEM_ALIGNMENT=64
# CONFIG_RT_LWIP_DHCP is not set
CONFIG_RT_LWIP_IPADDR="192.168.4.10"
CONFIG_RT_LWIP_GWADDR="192.168.4.1"
CONFIG_RT_LWIP_PBUF_NUM=512
CONFIG_RT_LWIP_TCPTHREAD_PRIORITY=16
CONFIG_RT_LWIP_TCPTHREAD_STACKSIZE=16184
CONFIG_RT_LWIP_ETHTHREAD_STACKSIZE=8192
CONFIG_RT_LWIP_REASSEMBLY_FRAG=y
CONFIG_RT_USING_RYM=y
CONFIG_RT_PAGE_MAX_ORDER=16
CONFIG_PKG_USING_KERNEL_SAMPLES=y
CONFIG_TARGET_E2000D=y
CONFIG_LOG_DEBUG=y
# CONFIG_USE_DEFAULT_INTERRUPT_CONFIG is not set
