menu "Hardware Drivers Config"

config BSP_USING_QSPIFLASH
    bool
    default n

config SOC_MIMXRT1176DVMAA
    bool
    select SOC_MIMXRT1170_SERIES
    select BSP_USING_QSPIFLASH
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y

menu "On-chip Peripheral Drivers"

    config BSP_USING_DMA
        bool "Enable DMA"
        default n

    config BSP_USING_GPIO
        bool "Enable GPIO"
        select RT_USING_PIN
        default y

    menuconfig BSP_USING_LPUART
        bool "Enable UART"
        select RT_USING_SERIAL
        default y

        if BSP_USING_LPUART
            config BSP_USING_LPUART1
                bool "Enable LPUART1"
                default y

                config BSP_LPUART1_RX_USING_DMA
                    bool "Enable LPUART1 RX DMA"
                    depends on BSP_USING_LPUART1
                    select BSP_USING_DMA
                    select RT_SERIAL_USING_DMA
                    default n

                    config BSP_LPUART1_RX_DMA_CHANNEL
                        depends on BSP_LPUART1_RX_USING_DMA
                        int "Set LPUART1 RX DMA channel (0-32)"
                        default 0

                config BSP_LPUART1_TX_USING_DMA
                    bool "Enable LPUART1 TX DMA"
                    depends on BSP_USING_LPUART1
                    select BSP_USING_DMA
                    select RT_SERIAL_USING_DMA
                    default n

                    config BSP_LPUART1_TX_DMA_CHANNEL
                        depends on BSP_LPUART1_TX_USING_DMA
                        int "Set LPUART1 TX DMA channel (0-32)"
                        default 1

            config BSP_USING_LPUART3
                bool "Enable LPUART3"
                default n

                config BSP_LPUART3_RX_USING_DMA
                    bool "Enable LPUART3 RX DMA"
                    depends on BSP_USING_LPUART3
                    select BSP_USING_DMA
                    select RT_SERIAL_USING_DMA
                    default n

                    config BSP_LPUART3_RX_DMA_CHANNEL
                        depends on BSP_LPUART3_RX_USING_DMA
                        int "Set LPUART3 RX DMA channel (0-32)"
                        default 0

                config BSP_LPUART3_TX_USING_DMA
                    bool "Enable LPUART3 TX DMA"
                    depends on BSP_USING_LPUART3
                    select BSP_USING_DMA
                    select RT_SERIAL_USING_DMA
                    default n

                    config BSP_LPUART3_TX_DMA_CHANNEL
                        depends on BSP_LPUART3_TX_USING_DMA
                        int "Set LPUART3 TX DMA channel (0-32)"
                        default 1
						
			config BSP_USING_LPUART10
                bool "Enable LPUART10"
                default n

                config BSP_LPUART10_RX_USING_DMA
                    bool "Enable LPUART10 RX DMA"
                    depends on BSP_USING_LPUART10                    
                    select RT_SERIAL_USING_DMA
                    default n

                    config BSP_LPUART10_RX_DMA_CHANNEL
                        depends on BSP_LPUART10_RX_USING_DMA
                        int "Set LPUART3 RX DMA channel (0-32)"
                        default 8

                config BSP_LPUART10_TX_USING_DMA
                    bool "Enable LPUART10 TX DMA"
                    depends on BSP_USING_LPUART10
                    select BSP_USING_DMA
                    select RT_SERIAL_USING_DMA
                    default n

                    config BSP_LPUART10_TX_DMA_CHANNEL
                        depends on BSP_LPUART10_TX_USING_DMA
                        int "Set LPUART10 TX DMA channel (0-32)"
                        default 9
        endif
	menuconfig BSP_USING_FLEXSPI
		bool "Enable FlexSPI"
		default y

		if BSP_USING_FLEXSPI
			config BSP_USING_FLEXSPI1
				bool "Enable FlexSPI1"
				default y
		endif
	menuconfig BSP_USING_SPI
		bool "Enable SPI"	
		default y

		if BSP_USING_SPI
			config BSP_USING_SPI1
				bool "Enable SPI1"
				default y

			config BSP_USING_SPI4
				bool "Enable SPI4"
				default n
			
			config BSP_USING_BLOCKING_SPI
				bool "Enable BLOCKING SPI"
				default y
		endif
	
endmenu

menu "Onboard Peripheral Drivers"

    config BSP_USING_SDRAM
        bool "Enable SDRAM"
        default n

    menuconfig BSP_USING_ETH
    bool "Enable Ethernet"
    select RT_USING_NETDEV
    select RT_USING_LWIP
    default n


    if BSP_USING_ETH
        config BSP_USING_PHY
            select RT_USING_PHY
            bool "Enable ethernet phy"
            default y

        if BSP_USING_PHY
			choice BSP_USING_PHY_TYPE
				prompt "Select PHY type"
				default PHY_USING_RTL8201F
				help
					Select the PHY type.
				config PHY_USING_RTL8201F
					bool "RTL8201F"
					help
						Select RTL8201F PHY.
				config PHY_USING_RTL8304
					bool "RTL8304"
					help
						Select RTL8304 PHY.
		    endchoice
			
			if PHY_USING_RTL8304
				config RTL8304_MDCS_PORT
					int "Set RTL8304 MDCS PORT"
					default 3
				config RTL8304_MDCS_PIN
					int "Set RTL8304 MDC PIN"
					default 31
				config RTL8304_MDIO_PORT
					int "Set RTL8304 MDIO PORT"
					default 4
				config RTL8304_MDIO_PIN
					int "Set RTL8304 MDIO PIN"
					default 0
					
				config PHY_ADDRESS
					int "Set PHY address"
					default 1

				config PHY_NAME
					string "Set PHY name"
					default "realtek"
					
				menuconfig BSP_USING_PHY_LED
					bool "Enable PHY LED"
					default n

					if BSP_USING_PHY_LED
						menuconfig BSP_USING_PHY_LED_PORT1
							bool "Enable PHY LED PORT1"
							default n

							if BSP_USING_PHY_LED_PORT1
								config BSP_USING_PHY_LED_PORT1_PORT
									int "Set PHY LED PORT1 PORT"
									default 6
								config BSP_USING_PHY_LED_PORT1_PIN
									int "Set PHY LED PORT1 PIN"
									default 8
							endif

						menuconfig BSP_USING_PHY_LED_PORT2
							bool "Enable PHY LED PORT2"
							default n

							if BSP_USING_PHY_LED_PORT2
								config BSP_USING_PHY_LED_PORT2_PORT
									int "Set PHY LED PORT2 PORT"
									default 6
								config BSP_USING_PHY_LED_PORT2_PIN
									int "Set PHY LED PORT2 PIN"
									default 9
							endif
					endif
						
				menuconfig BSP_USING_PHY_RST
					bool "Enable PHY RST"
					default n

					if BSP_USING_PHY_RST
						config BSP_USING_PHY_RST_PORT
							int "Set PHY RST PORT"
							default 3
						config BSP_USING_PHY_RST_PIN
							int "Set PHY RST PIN"
							default 12
					endif
			endif	
			
			menuconfig BSP_USING_ETH_INT
				bool "Enable ETH INT"
				default n

				if BSP_USING_ETH_INT
					config BSP_USING_ETH_INT_PORT
						int "Set ETH INT PORT"
						default 3
					config BSP_USING_ETH_INT_PIN
						int "Set ETH INT PIN"
						default 11
				endif

			config BSP_USING_ENET
				bool "Enable ENET"
				default n
            
        endif

        
    endif
	
	menuconfig BSP_USING_SPI_FLASH
        bool "Enable SPI FLASH Support"
        default y        
        if BSP_USING_SPI_FLASH
            config BSP_SPI_FLASH_SPI_BUS
                string "SPI Bus Used By SPI FLASH"
                default "spi1"
            config BSP_SPI_FLASH_BUS_NAME
                string "Set FLASH SPI Bus Name"
                default "spiflash"
            config BSP_SPI_FLASH_DEV_NAME
                string "Set SPI Flash Device Name"
                default "w25q16"            
        endif
	config BSP_USING_ESP32
        bool "Enable ESP32"
		default y
        select RT_USING_AT
        select AT_USING_CLIENT
        select AT_USING_SOCKET
        select PKG_USING_AT_DEVICE
        select AT_DEVICE_USING_ESP32
		select AT_DEVICE_ESP32_INIT_ASYN
       
endmenu

menu "Board extended module Drivers"

endmenu

endmenu
