mainmenu "RT-Thread Configuration"

BSP_DIR := .

RTT_DIR := ../..

PKGS_DIR := packages

source "$(RTT_DIR)/Kconfig"
osource "$PKGS_DIR/Kconfig"

config SOC_AT91SAM926
    bool
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    select RT_USING_CACHE
    default y

config RT_USING_UART0
    bool "Using RT_USING_UART0"
    default n

config RT_USING_UART3
    bool "Using RT_USING_UART3"
    default y

config RT_USING_UART4
    bool "Using RT_USING_UART4"
    default n

config RT_USING_LED
    bool "Using RT_USING_LED"
    default y
    help
        led blink demo
