menu "G2D Devices"

config DRIVERS_G2D
    bool "enable g2d driver"
        default y

config HAL_TEST_G2D
    bool "enable g2d hal APIs test command"
    depends on DRIVERS_G2D
        default n

endmenu
