menuconfig RT_CLK_ROCKCHIP
    bool "Rockchip clock controller common"
    select RT_USING_OFW
    select RT_USING_RESET
    default n

config RT_CLK_ROCKCHIP_RK3568
    bool "Rockchip RK3568 clock controller support"
    depends on RT_CLK_ROCKCHIP
    default n

config RT_CLK_ROCKCHIP_RK3588
    bool "Rockchip RK3588 clock controller support"
    depends on RT_CLK_ROCKCHIP
    default n
