#
# Provide support for the Cadence JTAG BFM
#
# Copyright (c) 2020, Ampere Computing LLC
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of
# the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program;
#
#

adapter driver jtag_dpi

# Set the DPI JTAG server port
if { [info exists DPI_PORT] } {
   set _DPI_PORT $DPI_PORT
} else {
   set _DPI_PORT 5555
}

# Set the DPI JTAG server address
if { [info exists DPI_ADDRESS] } {
   set _DPI_ADDRESS $DPI_ADDRESS
} else {
   set _DPI_ADDRESS "127.0.0.1"
}

jtag_dpi_set_port $_DPI_PORT
jtag_dpi_set_address $_DPI_ADDRESS
