mainmenu "RT-Thread Project Configuration"

BSP_DIR := .

RTT_DIR := ../../..

PKGS_DIR := packages

source "$(RTT_DIR)/Kconfig"
osource "$PKGS_DIR/Kconfig"

config BOARD_allwinnerd1s
    bool
    select ARCH_RISCV64
    select ARCH_USING_RISCV_COMMON64
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    select RT_USING_CACHE
    select ARCH_MM_MMU
    default y

config ENABLE_FPU
    bool "Enable FPU"
    select ARCH_RISCV_FPU_D
    default y

config RT_USING_USERSPACE_32BIT_LIMIT
    bool "Enable userspace 32bit limit"
    default n

config __STACKSIZE__
    int "stack size for interrupt"
    default 4096

rsource "../libraries/drivers/Kconfig"
rsource "../libraries/Kconfig"
