source "$(BSP_DIR)/../common/drivers/Kconfig"

menu "RT-Thread rockchip RK2108 drivers"

config RT_USING_CRU
    bool "Enable CRU"
    default n

menu "Enable UART"
    config RT_USING_UART
        bool "Enable UART"
        default y

    if RT_USING_UART
    config RT_USING_UART0
        bool "Enable UART0"
        default n

    config RT_USING_UART1
        bool "Enable UART1"
        default n

    config RT_USING_UART2
        bool "Enable UART2"
        default y
    endif
endmenu

config RT_USING_SYSTICK
     bool "Enable SYSTICK"
     default n

endmenu
