menu "Hardware Drivers Config"

config SOC_ESP32_C3
    bool
    select RT_USING_COMPONENTS_INIT
    default y
    
config SOC_ESPRESSIF
    bool 
    default y

choice
    prompt "Select BSP board "
    default BSP_BOARD_LUATOS_ESP32C3

    config BSP_BOARD_LUATOS_ESP32C3
        bool "LUATOS ESP32C3 board"

    config BSP_BOARD_HX_EXP32C3
        bool "HONGXU ESP32C3 board"    
endchoice

menu "Onboard Peripheral Drivers"
    config RT_BSP_LED_PIN
        int "LED GPIO PIN SET"
        default 12 if BSP_BOARD_LUATOS_ESP32C3
        default 8 if BSP_BOARD_HX_EXP32C3
        depends on BSP_USING_GPIO

endmenu


menu "On-chip Peripheral Drivers"
    config BSP_USING_GPIO
        bool "Enable GPIO"
        select RT_USING_PIN
        default y
    
    config BSP_USING_UART
		bool "Enable UART"
        default n
endmenu

endmenu


