menu "Hardware Drivers Config"
    config BSP_SUPPORT_FPU
        bool "Using Float"
        default y

    menuconfig BSP_USING_UART
        bool "Using UART"
        select RT_USING_SERIAL
        default y

        if BSP_USING_UART
            config BSP_USING_UART0
            bool "Enabel UART 0"
            default y
        endif

    config BSP_USING_GIC
        bool
        default y

    choice
        prompt "GIC Version"
        default BSP_USING_GICV2

        config BSP_USING_GICV2
            bool "GICv2"

        config BSP_USING_GICV3
            bool "GICv3"
    endchoice

endmenu
