menu "RISC-V QEMU virt64 configs"

config RISCV_S_MODE
    bool "RT-Thread run in RISC-V S-Mode(supervisor mode)"
    default y

config BSP_USING_VIRTIO
    bool "Using VirtIO"
    default y
    depends on RT_USING_DEVICE_OPS

config BSP_USING_VIRTIO_BLK
    bool "Using VirtIO BLK"
    select RT_USING_VIRTIO
    select RT_USING_VIRTIO_BLK
    default y
    depends on BSP_USING_VIRTIO

config BSP_USING_VIRTIO_NET
    bool "Using VirtIO NET"
    select RT_USING_VIRTIO
    select RT_USING_VIRTIO_NET
    default y
    depends on BSP_USING_VIRTIO

config BSP_USING_VIRTIO_CONSOLE
    bool "Using VirtIO Console"
    select RT_USING_VIRTIO
    select RT_USING_VIRTIO_CONSOLE
    default y
    depends on BSP_USING_VIRTIO

config BSP_USING_VIRTIO_GPU
    bool "Using VirtIO GPU"
    select RT_USING_VIRTIO
    select RT_USING_VIRTIO_GPU
    default y
    depends on BSP_USING_VIRTIO

config BSP_USING_VIRTIO_INPUT
    bool "Using VirtIO Input"
    select RT_USING_VIRTIO
    select RT_USING_VIRTIO_INPUT
    default y
    depends on BSP_USING_VIRTIO

endmenu
