menu "Platform Driver Configuration"

menu "Select UART Driver"
    if RT_USING_SERIAL
        config BSP_USING_UART1
            bool "Enable UART1"
            default y
        config BSP_USING_UART2
            bool "Enable UART2"
            default n
        config BSP_USING_UART3
            bool "Enable UART3"
            default n
        config BSP_USING_UART4
            bool "Enable UART4"
            default n
        config BSP_USING_UART5
            bool "Enable UART5"
            default n
        config BSP_USING_UART6
            bool "Enable UART6"
            default n
        config BSP_USING_UART7
            bool "Enable UART7"
            default n
        config BSP_USING_UART8
            bool "Enable UART8"
            default n
    endif
endmenu

menu "Select SPI Driver"
    config BSP_USING_SPI
        bool "Enable SPI"
            select RT_USING_SPI
            default n

    if BSP_USING_SPI
        config BSP_USING_SPI1
            bool "Enable SPI1"
            default n
        config BSP_USING_SPI2
            bool "Enable SPI2"
            default n
        config BSP_USING_SPI3
            bool "Enable SPI3"
            default y
        config BSP_USING_SPI4
            bool "Enable SPI4"
            default n
    endif
endmenu

menu "Select I2C Driver"
    config BSP_USING_I2C
        bool "Enable I2C"
            select RT_USING_I2C
            default n

    if BSP_USING_I2C
        config BSP_USING_I2C1
            bool "Enable I2C1"
            default n
        if BSP_USING_I2C1
            config I2C1_BAUD_RATE
                int "Set i2c1 baud rate (HZ)"
                default 100000
        endif

        config BSP_USING_I2C2
            bool "Enable I2C2"
            default n
        if BSP_USING_I2C2
            config I2C2_BAUD_RATE
                int "Set i2c2 baud rate (HZ)"
                default 100000
        endif

        config BSP_USING_I2C3
            bool "Enable I2C3"
            default n
        if BSP_USING_I2C3
            config I2C3_BAUD_RATE
                int "Set i2c3 baud rate (HZ)"
                default 100000
        endif

        config BSP_USING_I2C4
            bool "Enable I2C4"
            default n
        if BSP_USING_I2C4
            config I2C4_BAUD_RATE
                int "Set i2c4 baud rate (HZ)"
                default 100000
        endif
    endif
endmenu

menu "Select LCD Driver"
config BSP_USING_LCD
    bool "Enable LCD"
    select RT_USING_LCD
    default y

    if BSP_USING_LCD
        config BSP_LCD_WIDTH
            int "Width of LCD panel"
            default 1000
        config BSP_LCD_HEIGHT
            int "Height of LCD panel"
            default 600
        config BSP_LCD_VSW
            int "value of LCD_VSW"
            default 2
        config BSP_LCD_VBP
            int "value of LCD_VBP"
            default 23        
        config BSP_LCD_VFP
            int "value of LCD_VFP"
            default 22
        config BSP_LCD_HSW
            int "value of LCD_HSW"
            default 2    
        config BSP_LCD_HBP
            int "value of LCD_HBP"
            default 46
        config BSP_LCD_HFP
            int "value of LCD_HFP"
            default 210       
        config BSP_LCD_PLL_DIV
            int "value of PLL DIV"
            default 8                                
    endif
endmenu

menu "Select SDHC Driver"
    if RT_USING_SDIO
        config RT_USING_SDIO1
            bool "Enable SDHC1"
            default n
        config RT_USING_SDIO2
            bool "Enable SDHC2"
           	default n
    endif
endmenu

menu "Select RTC Driver"
    if RT_USING_RTC
        config BSP_USING_ONCHIP_RTC
            bool "Enable On-Chip RTC"
            default y
    endif
endmenu

menu "Select PWM Driver"
     config RT_USING_PWM
        bool "Enable PWM"
        default n
    if RT_USING_PWM
        config BSP_USING_PWM1
            bool "Enable PWM1"
            default n
        config BSP_USING_PWM2
            bool "Enable PWM2"
            default n
        config BSP_USING_PWM3
            bool "Enable PWM3"
            default n
        config BSP_USING_PWM4
            bool "Enable PWM4"
            default n
    endif
endmenu

menu "Select ADC Driver"
     config RT_USING_ADC
        bool "Enable ADC"
        default n

    if RT_USING_ADC
        config BSP_USING_ADC1_1
            bool "Enable ADC1 CH1"
            default n
        config BSP_USING_ADC1_2
            bool "Enable ADC1 CH2"
            default n
		config BSP_USING_ADC1_3
            bool "Enable ADC1 CH3"
            default n
		config BSP_USING_ADC1_4
            bool "Enable ADC1 CH4"
            default n
    endif
endmenu

menu "Select WDT Driver"
    if RT_USING_WDT
        config RT_USING_WDT1
            bool "Enable WDT1"
            default n
        config RT_USING_WDT2
            bool "Enable WDT2"
           	default n
        config RT_USING_WDT3
            bool "Enable WDT3"
           	default n               
    endif
endmenu

menu "Select ENET Driver"
    config RT_USING_ENET1
        bool "Enable ENET1"
        default y
    config RT_USING_ENET2
        bool "Enable ENET2"
        default n
endmenu

menu "Select Wifi Driver"
    config RT_USING_WIFI_RW007
        bool "Enable wifi RW007"
        select BSP_USING_SPI2
        select PKG_USING_RW007
        select RT_USING_WIFI
        default n
    if RT_USING_WIFI_RW007
        config RW007_DAFAULT_SSID
            string "default ssid"
            default "rt-thread"
        config RW007_DAFAULT_PASSWARD
            string "default passward"
            default "12345678"
    endif
endmenu

menu "Select USB Driver"
    config BSP_USING_USB_DEVICE
        bool "Enable USB device"
        default y
endmenu

endmenu
