menu "Network"

source "$RTT_DIR/components/net/sal/Kconfig"
source "$RTT_DIR/components/net/netdev/Kconfig"
source "$RTT_DIR/components/net/lwip/Kconfig"
source "$RTT_DIR/components/net/at/Kconfig"

endmenu
