mainmenu "RT-Thread Configuration"

BSP_DIR := .

RTT_DIR := ../../../../

PKGS_DIR := packages

config XUANTIAN_XIAOHUI_C906
    bool
    select ARCH_RISCV64
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y

menu "CPU Architecture Features"

    menuconfig ENABLE_FPU
        bool "Enable FPU"
        select ARCH_RISCV_FPU
        select ARCH_RISCV_FPU_D
        default y

    menuconfig ENABLE_VECTOR
        bool "Enable VECTOR"
        select ARCH_RISCV_VECTOR
        select ENABLE_FPU
        default n

endmenu

source "$(RTT_DIR)/Kconfig"
source "$PKGS_DIR/Kconfig"
source "$BSP_DIR/board/Kconfig"
