mainmenu "RT-Thread Configuration"

BSP_DIR := .

RTT_DIR := ../../../../..

PKGS_DIR := packages

config SOC_LPC55S36
    bool
    select ARCH_ARM_CORTEX_M33
    select ARCH_ARM_CORTEX_SECURE
    default y

source "$(RTT_DIR)/Kconfig"
osource "$PKGS_DIR/Kconfig"
rsource "../libraries/Kconfig"
rsource "board/Kconfig"
