config SOC_FAMILY_MM32
    bool

config SOC_SERIES_MM32F103
    bool
    select ARCH_ARM_CORTEX_M3
    select SOC_FAMILY_MM32
    select PKG_USING_MM32F103XX_CMSIS
    select PKG_USING_MM32F103XX_HAL_DRIVER

config SOC_SERIES_MM32F327
    bool
    select ARCH_ARM_CORTEX_M3
    select SOC_FAMILY_MM32
    select PKG_USING_MM32F3270X_CMSIS
    select PKG_USING_MM32F3270X_HAL_DRIVER

config SOC_SERIES_MM32F3277
    bool
    select ARCH_ARM_CORTEX_M3
    select SOC_FAMILY_MM32
    select PKG_USING_MM32F3270X_CMSIS
    select PKG_USING_MM32F3270X_HAL_DRIVER

config SOC_SERIES_MM32F526
    bool
    select ARCH_ARM_CORTEX_M33
    select SOC_FAMILY_MM32
    select PKG_USING_MM32F5260X_CMSIS
    select PKG_USING_MM32F5260X_HAL_DRIVER

config SOC_SERIES_MM32L0
    bool
    select ARCH_ARM_CORTEX_M0
    select SOC_FAMILY_MM32
    select PKG_USING_MM32L0XX_CMSIS
    select PKG_USING_MM32L0XX_HAL_DRIVER

config SOC_SERIES_MM32L3
    bool
    select ARCH_ARM_CORTEX_M3
    select SOC_FAMILY_MM32
    select PKG_USING_MM32L3XX_CMSIS
    select PKG_USING_MM32L3XX_HAL_DRIVER
