config SOC_FAMILY_IFX
    bool

config SOC_SERIES_IFX_PSOC61
    bool
    select ARCH_ARM_CORTEX_M4
    select SOC_FAMILY_IFX
    select PKG_USING_INFINEON_CAT1CM0P
    select PKG_USING_INFINEON_CMSIS
    select PKG_USING_INFINEON_CORE_LIB
    select PKG_USING_INFINEON_MTB_HAL_CAT1
    select PKG_USING_INFINEON_MTB_PDL_CAT1
    select PKG_USING_INFINEON_RETARGET_IO
    select PKG_USING_INFINEON_CAPSENSE

config SOC_SERIES_IFX_PSOC62
    bool
    select ARCH_ARM_CORTEX_M4
    select SOC_FAMILY_IFX
    select PKG_USING_INFINEON_CAT1CM0P
    select PKG_USING_INFINEON_CMSIS
    select PKG_USING_INFINEON_CORE_LIB
    select PKG_USING_INFINEON_MTB_HAL_CAT1
    select PKG_USING_INFINEON_MTB_PDL_CAT1
    select PKG_USING_INFINEON_RETARGET_IO
    select PKG_USING_INFINEON_CAPSENSE

config SOC_SERIES_IFX_PSOC63
    bool
    select ARCH_ARM_CORTEX_M4
    select SOC_FAMILY_IFX
    select PKG_USING_INFINEON_CAT1CM0P
    select PKG_USING_INFINEON_CMSIS
    select PKG_USING_INFINEON_CORE_LIB
    select PKG_USING_INFINEON_MTB_HAL_CAT1
    select PKG_USING_INFINEON_MTB_PDL_CAT1
    select PKG_USING_INFINEON_RETARGET_IO
    select PKG_USING_INFINEON_CAPSENSE

config SOC_SERIES_IFX_XMC
    bool
    select ARCH_ARM_CORTEX_M7
    select SOC_FAMILY_IFX
    select PKG_USING_INFINEON_CAT1CM0P
    select PKG_USING_INFINEON_CMSIS
    select PKG_USING_INFINEON_CORE_LIB
    select PKG_USING_INFINEON_MTB_HAL_CAT1
    select PKG_USING_INFINEON_MTB_PDL_CAT1
    select PKG_USING_INFINEON_RETARGET_IO
