menu "Hardware Drivers Config"

    menu "On-chip Peripheral Drivers"
        config BSP_USING_GPIO
            bool "Enable GPIO"
            select RT_USING_PIN
            default y

        menu "UART Drivers"
            config BSP_USING_UART0
                bool "Enable UART0 PA2/3(R/T)"
                select RT_USING_SERIAL
                default y

            config BSP_USING_UART1
                bool "Enable UART1 PC2/3(R/T)"
                select RT_USING_SERIAL
                default n
        endmenu
    endmenu

endmenu
