menu "LRADC Devices"

config DRIVERS_LRADC
    bool "enable lradc driver"
        default y

config HAL_TEST_LRADC
    bool "enable lradc hal APIs test command"
    depends on DRIVERS_LRADC
        default n

endmenu
