
# Kconfig file for package fal
menuconfig RT_USING_FAL
    bool "FAL: flash abstraction layer"
    default n

if RT_USING_FAL
    config FAL_USING_DEBUG
        bool "Enable debug log output"
        default y if RT_USING_DEBUG
        default n

    config FAL_PART_HAS_TABLE_CFG
        bool "FAL partition table config has defined on 'fal_cfg.h'"
        default y
        help
            If defined partition table on 'fal_cfg.h' please enable this option.
            When this option is disable, it will auto find and load the partition table
            on a specified location in flash partition.

    if !FAL_PART_HAS_TABLE_CFG

        config FAL_PART_TABLE_FLASH_DEV_NAME
            string "The flash device which saving partition table"
            default "onchip"
             help
                It will auto find the partition table on this flash device.

        config FAL_PART_TABLE_END_OFFSET
            int "The patition table end address relative to flash device offset."
            default 65536
            help
                The auto find and load the partition table process is forward from this
                offset address on flash.

    endif

    config FAL_USING_SFUD_PORT
        bool "FAL uses SFUD drivers"
        default n
        help
            The fal_flash_sfud_port.c in the samples\porting directory will be used.

    if FAL_USING_SFUD_PORT
        config FAL_USING_NOR_FLASH_DEV_NAME
            string "The name of the device used by FAL"
            default "norflash0"
    endif

    config FAL_DEV_NAME_MAX
        int "FAL device/partition name max length"
        default 24
        range 8 128
        help
            Configure the maximum length of flash/partition device name used by FAL.
            This value corresponds to macro FAL_DEV_NAME_MAX.
            Increase it if your flash device name or partition name is longer.
            Note: Larger value may increase memory usage in some implementations.

    config FAL_DEV_BLK_MAX
        int "FAL max flash device blocks"
        default 6
        range 1 32
        help
            Configure the maximum number of flash device blocks managed by FAL.
            This value corresponds to macro FAL_DEV_BLK_MAX.
            If you have multiple flash devices (onchip/spi-nor/spi-nand, etc.)
            or multiple underlying blocks, increase this value accordingly.
            Note: Larger value may increase RAM/ROM usage.

endif

