config DISP2_SUNXI_SUPPORT_SMBL
    bool "Support smart backlight"
    default n
    ---help---
        If you want to support smart backlight, select it.

config DISP2_SUNXI_SUPPORT_ENAHNCE
    bool "Support Video Enhance Process"
    default y
    ---help---
        If you want to support video enhance process, select it.
