menuconfig RT_USING_SUNXI_HAL
    bool "HAL library from sunxi"
    default n

if RT_USING_SUNXI_HAL
    source "$(BSP_DIR)/../libraries/sunxi-hal/hal/source/uart/Kconfig"
    source "$(BSP_DIR)/../libraries/sunxi-hal/hal/source/ccmu/Kconfig"
    source "$(BSP_DIR)/../libraries/sunxi-hal/hal/source/dma/Kconfig"
    source "$(BSP_DIR)/../libraries/sunxi-hal/hal/source/gpio/Kconfig"
    source "$(BSP_DIR)/../libraries/sunxi-hal/hal/source/disp2/Kconfig"
    source "$(BSP_DIR)/../libraries/sunxi-hal/hal/source/sdmmc/Kconfig"
    source "$(BSP_DIR)/../libraries/sunxi-hal/hal/source/spi/Kconfig"
    source "$(BSP_DIR)/../libraries/sunxi-hal/hal/source/twi/Kconfig"
    source "$(BSP_DIR)/../libraries/sunxi-hal/hal/source/g2d_rcq/Kconfig"
    source "$(BSP_DIR)/../libraries/sunxi-hal/hal/source/usb/Kconfig"
    source "$(BSP_DIR)/../libraries/sunxi-hal/hal/source/ce/Kconfig"
    source "$(BSP_DIR)/../libraries/sunxi-hal/hal/source/efuse/Kconfig"
endif
