menu "DFS: device virtual file system"

config RT_USING_DFS
    bool "DFS: device virtual file system"
    select RT_USING_MUTEX
    default y
    help
        The device file system is a light weight virtual file system.

if RT_USING_DFS
    config DFS_USING_POSIX
        bool "Using posix-like functions, open/read/write/close"
        default y

    config DFS_USING_WORKDIR
        bool "Using working directory"
        default y

    config RT_USING_DFS_MNTTABLE
        bool "Using mount table for file system"
        default n
        help
            User can use mount table for automatically mount, for example:
                const struct dfs_mount_tbl mount_table[] =
                {
                    {"flash0", "/", "elm", 0, 0},
                    {0}
                };
            The mount_table must be terminated with NULL.

    config DFS_FD_MAX
        int "The maximal number of opened files"
        default 16

    choice
        prompt "The version of DFS"
        default RT_USING_DFS_V1
        default RT_USING_DFS_V2 if RT_USING_SMART

        config RT_USING_DFS_V1
            bool "DFS v1.0"

        config RT_USING_DFS_V2
            bool "DFS v2.0"
    endchoice

source "$RTT_DIR/components/dfs/dfs_v1/Kconfig"
source "$RTT_DIR/components/dfs/dfs_v2/Kconfig"

endif

endmenu
