mainmenu "RT-Thread Project Configuration"

RTT_DIR := ../../..

SDK_DIR := .././libraries/phytium_standalone_sdk

PKGS_DIR := packages

source "$(RTT_DIR)/Kconfig"
osource "$PKGS_DIR/Kconfig"
source "$(BSP_DIR)/../libraries/drivers/Kconfig"

config PHYTIUM_ARCH_AARCH32
    bool
    select ARCH_ARM_CORTEX_A
    select RT_USING_CACHE
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    select RT_USING_GIC_V3
    select TARGET_ARMV8_AARCH32
    select USE_AARCH64_L1_TO_AARCH32
    default y

menu "Standalone Setting"
    config TARGET_ARMV8_AARCH32
        bool "Armv8 Aarch32"
        default y
    
    config USE_AARCH64_L1_TO_AARCH32
        bool
        prompt "Use Aarch64 L1 to Aarch32 code"
        default y
        help
            Use the Aarch64 to Aarch32 mode function

    source "$(SDK_DIR)/soc/soc.kconfig"
    source "$(BSP_DIR)/../board/board.kconfig"
    source "$(SDK_DIR)/common/common.kconfig"
endmenu



