mainmenu "RT-Thread Configuration"

config BSP_DIR
    string
    option env="BSP_ROOT"
    default "."

config RTT_DIR
    string
    option env="RTT_ROOT"
    default "../.."

config PKGS_DIR
    string
    option env="PKGS_ROOT"
    default "packages"

source "$RTT_DIR/Kconfig"
source "$PKGS_DIR/Kconfig"

config SOC_LS1B
    bool
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y

config RT_MEM_SIZE
    int "Memory Size (MByte)"
    default 256

config RT_OSC_CLK
    int "Oscillator Clock (Hz)"
    default 25000000

if RT_USING_SERIAL
config RT_USING_UART0
    bool "Using RT_USING_UART0"
    default n
config RT_USING_UART1
    bool "Using RT_USING_UART1"
    default n
config RT_USING_UART2
    bool "Using RT_USING_UART2"
    default n
config RT_USING_UART3
    bool "Using RT_USING_UART3"
    default n
config RT_USING_UART4
    bool "Using RT_USING_UART4"
    default n
config RT_USING_UART5
    bool "Using RT_USING_UART5"
    default y

config RT_UART_RX_BUFFER_SIZE
    int "The rx buffer size"
    default 64 if RT_USING_SERIAL
    default 64
endif

