menu "Modbus master and slave stack"

config RT_USING_MODBUS
    bool "Enable Modbus stack"
    default n

    if RT_USING_MODBUS
        config RT_MODBUS_MASTER_RTU
            bool "RTU master mode"
            default n

        config RT_MODBUS_SLAVE_RTU
            bool "RTU slave mode"
            default n
            if RT_MODBUS_SLAVE_RTU
                config RT_MODBUS_SLAVE_USE_CONTROL_PIN
                    bool "Use Contorl Pin"
                    default n
                    if RT_MODBUS_SLAVE_USE_CONTROL_PIN
                        config MODBUS_SLAVE_RT_CONTROL_PIN_INDEX
                            int "pin index for RS485 TX/RX select"
                            default 10
                    endif
            endif
    endif

endmenu
