


choice DEBUG_LOG_LEVEL
    prompt "Debug Log Level"
    default LOG_ERROR
    help
        VERBOS: Print bigger chunks of debugging information
        DEBUG: Print extra information for debugging
        INFO: Print necessary information messages
        WARN: Print error conditions from which recovery measures have been taken
        ERROR: Print critical errors, software module can not recover on its own

    config LOG_VERBOS
        bool "VERBOS"
    config LOG_DEBUG
        bool "DEBUG"
    config LOG_INFO
        bool "INFO"
    config LOG_WARN
        bool "WARN"
    config LOG_ERROR
        bool "ERROR"
    config LOG_NONE
        bool "NONE"

endchoice # DEBUG_LOG_LEVEL


config USE_DEFAULT_INTERRUPT_CONFIG
    bool
    prompt "Use default interrupt configuration"
    default y
    help
        "If this option is not selected, core0 is used as the main core by default and all interrupt driver modules are initialized. Non-0 core initializes only the necessary interrupt driver modules.  If this option is selected, the developer needs to initiate each module independently  "
    if USE_DEFAULT_INTERRUPT_CONFIG
        choice INTERRUPT_ROLE_SELECT
        prompt "Interrupt role select"
        default INTERRUPT_ROLE_MASTER
        help
            "Select Interrupt role"

        config INTERRUPT_ROLE_MASTER
            bool "use master role"

        config INTERRUPT_ROLE_SLAVE
            bool "use slave role"

        endchoice # INTERRUPT_ROLE_SELECT
    endif

config LOG_EXTRA_INFO
    bool "Debug Log with Extra Info"
    default n
    help
        Print debug information with source file name and source code line num.

config BOOTUP_DEBUG_PRINTS
    bool
    prompt "Bootup debug"
    default n
    help
        Enable Bootup debug printing

