menu "Hardware Drivers Config"

config SOC_XUANTIE
    bool
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    select RT_USING_HW_ATOMIC
    default y


menu "On-chip Peripheral Drivers"

    menuconfig BSP_USING_UART
        bool "Enable UART"
        select RT_USING_SERIAL
        default n

        if BSP_USING_UART
            config BSP_USING_UART0
                bool "Enable UART0"
                default n
        endif

endmenu

endmenu
