menu "Hardware Drivers Config"

config SOC_MAX32660
    bool
    config SOC_MAX32660
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    
config SOC_MAXIM
    bool 
    config SOC_MAXIM
    default y

menu "On-chip Peripheral Drivers"
    config BSP_USING_GPIO
        bool "Enable GPIO"
        select RT_USING_PIN
        default y
    config BSP_USING_ON_CHIP_FLASH
        select PKG_USING_FAL
        bool "Enable on-chip FLASH"
        default n

endmenu


endmenu


