menu "GPIO Devices"

config DRIVERS_GPIO
    bool "enable gpio driver"
        default y

config HAL_TEST_GPIO
    bool "enable gpio hal APIs test command"
    depends on DRIVERS_GPIO
        default n

endmenu
