menu "Hardware Drivers Config"

config SOC_NRF52840
    bool
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y
    config NRFX_CLOCK_ENABLED
    int 
    default 1
    config    NRFX_CLOCK_DEFAULT_CONFIG_IRQ_PRIORITY
    int 
    default 7
    config NRFX_CLOCK_CONFIG_LF_SRC
    int 
    default 1  

    
config SOC_NORDIC
    bool 
    config SOC_NORDIC
    default y

menu "On-chip Peripheral Drivers"
    config BSP_USING_GPIO
        bool "Enable GPIO"
        select RT_USING_PIN
        default y
    if BSP_USING_GPIO
        config NRFX_GPIOTE_ENABLED
        int 
        default 1  
    endif
    
    config BSP_USING_UART
		bool "Enable UART"
        default y
        select RT_USING_SERIAL
		if BSP_USING_UART
		choice
		prompt "UART or UARTE"
		default NRFX_USING_UART
		help
			Select the UART or UARTE
		config NRFX_USING_UART
			bool "UART"
		
		config NRFX_USING_UARTE
			bool "UARTE"
		endchoice
		endif
        if BSP_USING_UART&&NRFX_USING_UART
            config NRFX_UART_ENABLED
            int 
            default 1

            config BSP_USING_UART0
                bool "Enable UART0"
                default y 
                if BSP_USING_UART0
                    config NRFX_UART0_ENABLED
                    int 
                    default 1
                    config BSP_UART0_RX_PIN
                        int "uart0 rx pin number"
                        range 0 31
                        default 8
                    config BSP_UART0_TX_PIN
                        int "uart0 tx pin number"
                        range 0 31
                        default 6
                endif
        endif
        if BSP_USING_UART&&NRFX_USING_UARTE
            config NRFX_UARTE_ENABLED
            int 
            default 1

            config BSP_USING_UART0
                bool "Enable UARTE0"
                default n 
                if BSP_USING_UART0
                    config NRFX_UARTE0_ENABLED
                    int 
                    default 1
                    config BSP_UART0_RX_PIN
                        int "uarte0 rx pin number"
                        range 0 31
                        default 8
                    config BSP_UART0_TX_PIN
                        int "uarte0 tx pin number"
                        range 0 31
                        default 6
                endif
            config BSP_USING_UART1
                bool "Enable UARTE1"
                default n 
                if BSP_USING_UART1
                    config NRFX_UARTE1_ENABLED
                    int 
                    default 1
                    config BSP_UART1_RX_PIN
                        int "uarte1 rx pin number"
                        range 0 31
                        default 7
                    config BSP_UART1_TX_PIN
                        int "uarte1 tx pin number"
                        range 0 31
                        default 5
                endif
        endif
    menu "On-chip flash config"

        config MCU_FLASH_START_ADDRESS  
            hex "MCU FLASH START ADDRESS"
            default 0x00000000

        config MCU_FLASH_SIZE_KB  
            int "MCU FLASH SIZE, MAX size 1024 KB"
            range 1 1024
            default 1024		

        config MCU_SRAM_START_ADDRESS 
            hex "MCU RAM START ADDRESS"
            default 0x20000000

        config MCU_SRAM_SIZE_KB 
            int "MCU RAM SIZE, MAX size 256 KB"
            range 1 256
            default 256

        config MCU_FLASH_PAGE_SIZE 
            hex "MCU FLASH PAGE SIZE, please not change,nrfx default is 0x1000"
            range 0x1000 0x1000
            default 0x1000
	endmenu

endmenu


endmenu


