# There are many Quark boards that can host the quark_x10xx SoC
# Galileo is an example board

source [find target/quark_x10xx.cfg]

#default frequency but this can be adjusted at runtime
adapter speed 4000

reset_config trst_only
