mainmenu "RT-Thread Configuration"

config BSP_DIR
    string
    option env="BSP_ROOT"
    default "."

config RTT_DIR
    string
    option env="RTT_ROOT"
    default "../.."

config PKGS_DIR
    string
    option env="PKGS_ROOT"
    default "packages"

source "$RTT_DIR/Kconfig"
source "$PKGS_DIR/Kconfig"

config SOC_GK710
    bool 
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y

choice
    prompt "Device type"
    default GK7102C
    config SOC_GK7101
        bool "GK7101"
    config SOC_GK7102
        bool "GK7102"
    config SOC_GK7101S
        bool "GK7101S"
    config SOC_GK7102S
        bool "GK7102S"
    config SOC_GK7102C
        bool "GK7102C"
endchoice

choice
    prompt "Board type"
    default GK7102C_EVB
    config BOARD_GK7101_EVB
        bool "GK7101_EVB"
        depends on SOC_GK7101
    config BOARD_GK7101_EVB
        bool "GK7101_EVB"
        depends on SOC_GK7102
    config BOARD_GK7101S_EVB
        bool "GK7101S_EVB"
        depends on SOC_GK7101S
    config BOARD_GK7101S_EVB
        bool "GK7101S_EVB"
        depends on SOC_GK7102S
    config BOARD_GK7102C_EVB
        bool "GK7102C_EVB"
        depends on SOC_GK7102C
endchoice

choice
    prompt "Sensor type"
    default SENSOR_TYPE_SC1135
    config SENSOR_TYPE_SC1135
        bool "SC1135"
    config SENSOR_TYPE_SC1145
        bool "SC1145"
    config SENSOR_TYPE_JXH65
        bool "JXH65"
    config SENSOR_TYPE_OV9750
        bool "OV9750"
    config SENSOR_TYPE_AR0130
        bool "AR0130"
    config SENSOR_TYPE_JXH42
        bool "JXH42"
endchoice

config TUNNING_TOOL_SUPPORT
    bool "Using Tuning Tool"
    default y
    
config RT_USING_DMA_MEM
    bool "Enable DMA Mem"
    default y  

config ARM1176_USE_VFP
    bool "Enable ARM1176 VFP"
    default y  
    
config RT_USING_VFP
    bool "Enable VFP"
    default y  

config RT_USING_CPU_FFS
    bool "Enable CPU FFS"
    default y
      
menu "Goke Peripheral Device Config"
    config RT_USING_ADC
        bool "Enable ADC"
        default y    
 
    config RT_USING_GMAC
        bool "Enable GMAC"
        default y     

    config RT_USING_PWM
        bool "Enable PWM"
        default y    
  
    config RT_USING_GK_DMA
        bool "Enable DMA"
        default y    
        
    config RT_USING_LIBZ
        bool "Enable Zlib for firmware uncompress"
        default y  
        
    config RT_USING_LOGCAPTURE
        bool "Enable DSP Logcaputure"
        default y
        
    config RT_ALIGN_UC_SIZE
        int "Align UC Size"
        default 8
    
    config RT_ALIGN_DSP_SIZE
        int "Align DSP Size"
        default 32
        
    config RT_DEBUG_UC_MEM
        int "Debug UC Memory"
        default 0
    
    config RT_DEBUG_DSP_MEM
        int "Debug DSP Memory"
        default 0
endmenu 
