config RT_USING_LWP
    bool "Using light-weight process"
    select RT_USING_POSIX_FS
    select RT_USING_POSIX_SELECT
    select RT_USING_LIBC
    depends on ARCH_ARM_CORTEX_M || ARCH_ARM_ARM9 || ARCH_ARM_CORTEX_A
    default n
    help
        The lwP is a light weight process running in user mode.
