SOC_DM_ADC_DIR          = $(SOC_DM_DIR)/adc
SOC_DM_CAN_DIR          = $(SOC_DM_DIR)/can
SOC_DM_CLK_DIR          = $(SOC_DM_DIR)/clk
SOC_DM_HWCRYPTO_DIR     = $(SOC_DM_DIR)/hwcrypto
SOC_DM_HWSPINLOCK_DIR   = $(SOC_DM_DIR)/hwspinlock
SOC_DM_CLOCK_TIME_DIR   = $(SOC_DM_DIR)/hwtimer
SOC_DM_I2C_DIR          = $(SOC_DM_DIR)/i2c
SOC_DM_INPUT_MISC_DIR   = $(SOC_DM_DIR)/input/misc
SOC_DM_MBOX_DIR         = $(SOC_DM_DIR)/mailbox
SOC_DM_MFD_DIR          = $(SOC_DM_DIR)/mfd
SOC_DM_NVMEM_DIR        = $(SOC_DM_DIR)/nvmem
SOC_DM_PCI_DIR          = $(SOC_DM_DIR)/pci
SOC_DM_PHYE_DIR         = $(SOC_DM_DIR)/phye
SOC_DM_PIN_DIR          = $(SOC_DM_DIR)/pin
SOC_DM_PINCTRL_DIR      = $(SOC_DM_DIR)/pinctrl
SOC_DM_PMDOMAIN_DIR     = $(SOC_DM_DIR)/pmdomain
SOC_DM_PWM_DIR          = $(SOC_DM_DIR)/pwm
SOC_DM_REGULATOR_DIR    = $(SOC_DM_DIR)/regulator
SOC_DM_RTC_DIR          = $(SOC_DM_DIR)/rtc
SOC_DM_SDIO_DIR         = $(SOC_DM_DIR)/sdio
SOC_DM_SOC_DIR          = $(SOC_DM_DIR)/soc
SOC_DM_SPI_DIR          = $(SOC_DM_DIR)/spi
SOC_DM_THERMAL_DIR      = $(SOC_DM_DIR)/thermal
SOC_DM_WDT_DIR          = $(SOC_DM_DIR)/watchdog
