menu "Drivers Configuration"

    config BSP_USING_ADC
        bool "Enable ADC"
        select RT_USING_ADC
        default n

    config BSP_USING_HARDLOCK
        bool "Enable Hard-Lock"
        default y

    menuconfig BSP_USING_SDIO
        bool "Enable SDIO"
        select RT_USING_SDIO
        default y

        if BSP_USING_SDIO

            choice BSP_SDIO_DEV
                prompt "Select SDIO device"
                default BSP_USING_SDIO0
                help
                    Select the SDIO device to be used.

                config BSP_USING_SDIO0
                    bool "Enable SDIO0"

                    if BSP_USING_SDIO0
                        config BSP_SDIO0_EMMC
                        bool "Enable eMMC"
                        default n

                        config BSP_SDIO0_1V8
                        bool "Enable 1.8V"
                        default n
                    endif

                config BSP_USING_SDIO1
                    bool "Enable SDIO1"
            endchoice

            config BSP_SD_MNT_DEVNAME
                string "The name of the SD-BlkDev to be mounted"
                default "sd0p1"
        endif

    menuconfig BSP_USING_TIMERS
        bool "Enable Hardware Timers"
        select RT_USING_HWTIMER
        default n

        if BSP_USING_TIMERS
            config BSP_USING_TIMER0
                bool "Enable Timer0"
                default n

            config BSP_USING_TIMER1
                bool "Enable Timer1"
                default n

            config BSP_USING_TIMER2
                bool "Enable Timer2"
                default n

            config BSP_USING_TIMER3
                bool "Enable Timer3"
                default n

            config BSP_USING_TIMER4
                bool "Enable Timer4"
                default n

            config BSP_USING_TIMER5
                bool "Enable Timer5"
                default n
        endif

    menuconfig BSP_USING_WDT
        bool "Enable Watchdog Timer"
        select RT_USING_WDT
        default n

        if BSP_USING_WDT
            config BSP_USING_WDT0
                bool "Enable WDT0"
                default n

            config BSP_USING_WDT1
                bool "Enable WDT1"
                default n

        endif

    config BSP_UTEST_DRIVERS
        bool "Enable drivers utest"
        select RT_USING_UTEST
        default n

endmenu
