menu "Hardware Drivers Config"

choice
    prompt "select chip type"
    default SOC_SAMC21J18

    config SOC_SAMC21J18
    bool "SOC_SAMC21J18"
    help
        Refer to SAMC21 DataSheet

    config SOC_SAMC21G18
    bool "SOC_SAMC21G18"
    help
        Refer to SAMC21 DataSheet

    config SOC_SAMC21E18
    bool "SOC_SAMC21E18"
    help
        Refer to SAMC21 DataSheet

endchoice
endmenu

menu "Onboard Peripheral Drivers"
    depends on SOC_SAMC21J18

    config SAMC21_CAN0
        bool "Enable CAN0"
        default false

    config SAMC21_ADC0
        bool "Enable ADC0"
        default false

    config SAMC21_I2C0
        bool "Enable I2C0"
        default false

endmenu

menu "Application Demo Config"
    config SAM_CAN_EXAMPLE
        bool "Enable SAM CAN Example"
        depends on SAMC21_CAN0
        default true
        help
            Add CAN example task to project

    config SAM_ADC_EXAMPLE
        bool "Enable SAM ADC Example"
        depends on SAMC21_ADC0
        default true
        help
            Add ADC example task to project

    config SAM_I2C_EXAMPLE
        bool "Enable SAM I2C Example"
        depends on SAMC21_I2C0
        default true
        help
            Add I2C example task to project
endmenu
