<application name="button" exec="ftk_demos" init="ftk_app_demo_button_create" />
<application name="check_button" exec="ftk_demos" init="ftk_app_demo_check_button_create" />
<application name="combo_box" exec="ftk_demos" init="ftk_app_demo_combo_box_create" />
<application name="dialog" exec="ftk_demos" init="ftk_app_demo_dialog_create" />
<application name="entry" exec="ftk_demos" init="ftk_app_demo_entry_create" />
<application name="file_browser" exec="ftk_demos" init="ftk_app_demo_file_browser_create" />
<application name="fullscreen" exec="ftk_demos" init="ftk_app_demo_fullscreen_create" />
<application name="hello" exec="ftk_demos" init="ftk_app_demo_hello_create" />
<application name="icon_view" exec="ftk_demos" init="ftk_app_demo_icon_view_create" />
<application name="image_button" exec="ftk_demos" init="ftk_app_demo_image_button_create" />
<application name="image" exec="ftk_demos" init="ftk_app_demo_image_create" />
<application name="ime" exec="ftk_demos" init="ftk_app_demo_ime_create" />
<application name="label" exec="ftk_demos" init="ftk_app_demo_label_create" />
<application name="listview" exec="ftk_demos" init="ftk_app_demo_listview_create" />
<application name="menu" exec="ftk_demos" init="ftk_app_demo_menu_create" />
<application name="msgbox" exec="ftk_demos" init="ftk_app_demo_msgbox_create" />
<application name="multi_win" exec="ftk_demos" init="ftk_app_demo_multi_win_create" />
<application name="popup" exec="ftk_demos" init="ftk_app_demo_popup_create" />
<application name="progress_bar" exec="ftk_demos" init="ftk_app_demo_progress_bar_create" />
<application name="scroll_bar" exec="ftk_demos" init="ftk_app_demo_scroll_bar_create" />
<application name="sprite" exec="ftk_demos" init="ftk_app_demo_sprite_create" />
<application name="statusbar" exec="ftk_demos" init="ftk_app_demo_statusbar_create" />
<application name="text_view" exec="ftk_demos" init="ftk_app_demo_text_view_create" />
<application name="transparent" exec="ftk_demos" init="ftk_app_demo_transparent_create" />
<application name="wait_box" exec="ftk_demos" init="ftk_app_demo_wait_box_create" />
<application name="tab" exec="ftk_demos" init="ftk_app_demo_tab_create" />
