*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.old
*.o
*.obj
*.out
*.bak
*.dep
*.lib
*.i
*.d
*.uvguix*
*.scvd
*.ini
.sconsign.dblite
.vscode/
build/
Debug/
Listings/
Objects/
packages/
RTE/
__pycache__/
JLinkLog.txt
JLinkSettings.ini
/project.uvoptx
/project.uvprojx
