menu "Hardware Drivers Config"

config SOC_CH32V307VC
    bool
    select SOC_RISCV_SERIES_CH32V3
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y

menu "On-chip Peripheral Drivers"

    config BSP_USING_UART
        bool "Enable UART"
        select RT_USING_SERIAL
        default n

        if BSP_USING_UART
            config BSP_USING_UART1
            bool "Enable UART1"
            default n

            config BSP_USING_UART2
            bool "Enable UART2"
            default n

            config BSP_USING_UART3
            bool "Enable UART3"
            default n

            config BSP_USING_UART4
            bool "Enable UART4"
            default n

            config BSP_USING_UART5
            bool "Enable UART5"
            default n

            config BSP_USING_UART6
            bool "Enable UART6"
            default n

            config BSP_USING_UART7
            bool "Enable UART7"
            default n

            config BSP_USING_UART8
            bool "Enable UART7"
            default n
        endif

endmenu

menu "Onboard Peripheral Drivers"

endmenu

menu "Board extended module Drivers"

endmenu

endmenu
