menuconfig RT_USING_PIC
    bool "Using Programmable Interrupt Controller (PIC)"
    select RT_USING_ADT
    select RT_USING_ADT_BITMAP
    depends on RT_USING_DM
    default n

config RT_USING_PIC_STATISTICS
    bool "Enable ISR execution time statistics"
    depends on RT_USING_PIC
    depends on RT_USING_KTIME
    depends on RT_USING_INTERRUPT_INFO
    default n

config MAX_HANDLERS
    int "IRQ max handlers"
    depends on RT_USING_PIC
    range 1 4294967294
    default 256

config RT_PIC_ARM_GIC
    bool "ARM GICv2/v1"
    depends on RT_USING_PIC
    select RT_USING_OFW
    default n

config RT_PIC_ARM_GIC_V2M
    bool "ARM GIC V2M" if RT_PIC_ARM_GIC && RT_PCI_MSI
    depends on RT_USING_OFW
    default n

config RT_PIC_ARM_GIC_V3
    bool "ARM GICv3"
    depends on RT_USING_PIC
    select RT_USING_OFW
    default n

config RT_PIC_ARM_GIC_V3_ITS
    bool "ARM GICv3 ITS (Interrupt Translation Service)" if RT_PIC_ARM_GIC_V3 && RT_PCI_MSI
    depends on RT_USING_OFW
    select RT_USING_ADT_REF
    default n

config RT_PIC_ARM_GIC_V3_ITS_IRQ_MAX
    int "IRQ maximum used"
    depends on RT_PIC_ARM_GIC_V3_ITS
    default 127 if ARCH_CPU_64BIT
    default 63
    help
      Recommended to be based on the bit length (full bits) of maximum usage.

config RT_PIC_ARM_GIC_MAX_NR
    int
    depends on RT_USING_PIC
    depends on RT_PIC_ARM_GIC
    default 2 if SOC_REALVIEW
    default 1
