mainmenu "RT-Thread Configuration"

config BSP_DIR
    string
    option env="BSP_ROOT"
    default "."

config RTT_DIR
    string
    option env="RTT_ROOT"
    default "../.."

config PKGS_DIR
    string
    option env="PKGS_ROOT"
    default "packages"

source "$RTT_DIR/Kconfig"
source "$PKGS_DIR/Kconfig"

config SOC_SIMULATOR
    bool 
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y

config RT_USING_DFS_WINSHAREDIR
    bool "Enable shared file system between windows"
    select RT_USING_POSIX_FS
    default n

config BSP_USING_LVGL
    bool "Enable LVGL for LCD"
    select PKG_USING_LVGL
    default n

if BSP_USING_LVGL
    config BSP_USING_LVGL_DEMO
        bool "Enable LVGL demo"
        select PKG_USING_LV_MUSIC_DEMO
        default n

    config BSP_LCD_WIDTH
        int "LCD width"
        default 800

    config BSP_LCD_HEIGHT
        int "LCD height"
        default 480
endif
