

menu "Hardware Drivers Config"
     config BSP_USING_PL011
        bool "Enable pl011 for uart"
        default n

    config BSP_USING_SDHCI
        bool "Enable sdhci driver"
        select RT_USING_SDHCI
        default y
    rsource sdhci/Kconfig
endmenu
