menu "Hardware Drivers Config"

    menu "On-chip Peripheral Drivers"

        menu "UART Drivers"
            config BSP_USING_UART0
                bool "Enable MSS_UART0"
                select RT_USING_SERIAL
                default y
                help
                config MSS_UART0

            config BSP_USING_UART1
                bool "Enable MSS_UART1"
                select RT_USING_SERIAL
                default y
                help
                config MSS_UART1

            config RT_CONSOLE_DEVICE_NAME
                string "the device name for console"
                default "uart0"
        endmenu

        menu "GPIO Drivers"
            config BSP_USING_GPIO
            bool "Enable MSS_GPIO"
            select RT_USING_PIN
            default y
            help
            config MSS_GPIO
        endmenu
    endmenu

endmenu
