menu "RT-Thread CPU"

    choice ARCH
        bool "Architecture"

        config ARCH_ARM
            bool "ARM"

        config ARCH_MIPS
            bool "MIPS"

        config ARCH_ANDES
            bool "ANDES"

        config ARCH_CSKY
            bool "CSKY"

        config ARCH_POWERPC
            bool "PowerPC"

        config ARCH_RISCV
            bool "RISCV"

        config ARCH_IA32
            bool "IA32"

        config ARCH_HOST_SIMULATOR
            bool "Host Simulator"
    endchoice

    if ARCH_ARM
        choice ARM_CORTEX
            bool "ARM Cortex"
            default ARCH_ARM_CORTEX_M
            
            config ARCH_ARM_CORTEX_M
                bool "Cortex M"

            config ARCH_ARM_CORTEX_R
                bool "Cortex R"
                
            config ARCH_ARM_CORTEX_A
                bool "Cortex A"
        endchoice
        
        if ARCH_ARM_CORTEX_M
            choice ARCH_ARM_MCU
                bool "MCU"
                default ARCH_ARM_CORTEX_M4
                
                config ARCH_ARM_CORTEX_M0
                    bool "ARM Cortex M0"

                config ARCH_ARM_CORTEX_M3
                    bool "ARM Cortex M3"
                    
                config ARCH_ARM_CORTEX_M4
                    bool "ARM Cortex M4"

                config ARCH_ARM_CORTEX_M7
                    bool "ARM Cortex M7"
            endchoice
            
            config ARCH_ARM_MPU
                bool "ARM MPU Support"
        endif


        if ARCH_ARM_CORTEX_A
            choice ARCH_ARM_CPU_A
                bool "CPU"
                default ARCH_ARM_CORTEX_A8
                
                config ARCH_ARM_CORTEX_A5
                    bool "ARM Cortex A5"

                config ARCH_ARM_CORTEX_A7
                    bool "ARM Cortex A7"

                config ARCH_ARM_CORTEX_A8
                    bool "ARM Cortex A8"

                config ARCH_ARM_CORTEX_A9
                    bool "ARM Cortex A9"
            endchoice
        endif

        if ARCH_ARM_CORTEX_A || ARCH_ARM_CORTEX_R
            config ARCH_ARM_MMU
                bool "ARM MMU Support"
                default y
        endif
        
    endif

    if ARCH_MIPS
        config ARCH_MIPS_XBURST
            bool "MIPS X-Burst"
            default y
    endif
endmenu
