
menu "Eth Configuration"
    config ENABLE_FXMAC
        bool
        prompt "Use FXMAC"
        default n
    
    config ENABLE_FGMAC
        bool
        prompt "Use FGMAC"
        default n   

    if  ENABLE_FGMAC
        source "$STANDALONE_DIR/drivers/eth/fgmac/Kconfig"
    endif

    if  ENABLE_FXMAC
        source "$STANDALONE_DIR/drivers/eth/fxmac/Kconfig"
    endif
    
endmenu

