menu "Memory management"

config RT_INIT_MEMORY_REGIONS
    int "The max number of memory block regions in init time"
    range 1 1024
    default 128
    help
        During the system initialization phase, the kernel divides
        memory into different types of regions. This variable specifies
        the maximum number of regions supported by the system.

endmenu
