menu "EFUSE Devices"

config DRIVERS_EFUSE
    bool "enable efuse driver"
        default y

config HAL_TEST_EFUSE
    bool "enable efuse hal APIs test command"
    depends on DRIVERS_EFUSE
        default n

endmenu
