menu "TWI Devices"

config DRIVERS_TWI
    bool "enable twi driver"
        default y

config HAL_TEST_TWI
    bool "enable twi hal APIs test command"
    depends on DRIVERS_TWI
        default n

endmenu
