menuconfig RT_USING_PINCTRL
    bool "Using Pin controllers device drivers"
    depends on RT_USING_DM
    depends on RT_USING_PIN
    default n

if RT_USING_PINCTRL
    osource "$(SOC_DM_PINCTRL_DIR)/Kconfig"
endif
