if ARCH_ARM_CORTEX_M

menu "ARM CMSIS"

config RT_USING_CMSIS_OS
    bool "Using CMSIS RTOS API"
    default n
    help
        Enable CMSIS RTOS API, which is implemented above RT-Thread.

config RT_USING_RTT_CMSIS
    bool "Using CMSIS Header files in RT-Thread"
    default n
    help
        Use CMSIS header files in RT-Thread/components/CMSIS. Otherwise, use the
        CMSIS header files in BSP.

endmenu

endif
