mainmenu "RT-Thread Configuration"

BSP_DIR := .

RTT_DIR := ../../../..

# you can change the RTT_ROOT default "../.." to your rtthread_root,
# example : default "F:/git_repositories/rt-thread"

PKGS_DIR := packages

config SOC_TMS320F28X
    bool
    select ARCH_TIDSP_C28X
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y

source "$(RTT_DIR)/Kconfig"
osource "$PKGS_DIR/Kconfig"
rsource "board/Kconfig"
